/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #171717;  /* Set default text color to black */
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #171717;  /* Input text color */
}

.auth-form button {
  width: 100%;
  padding: 12px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #004fa1;
}

.auth-form button:focus {
  outline: none;
}

.logout-btn {
  padding: 12px 20px;
  background-color: #f44d4d;
  color: #171717;  /* Logout button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #e44040;
}

/* Invoice Generator Button */
.generate-invoice-btn {
  padding: 12px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  width: 100%;
}

.generate-invoice-btn:hover {
  background-color: #218838;
}

.generate-invoice-btn:focus {
  outline: none;
}

.user-info h1 {
  color: #171717; /* Set the welcome text color to black */
}
